<div>
    <% if (successMsg.length> 0) {%>
        <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
            <%= successMsg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
</div>
<div>
    <% if (errorMsg.length>0) {%>

        <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
            <%= errorMsg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
</div>