<%- layout('layouts/boilerplate') %>

    <div class="py-4 d-flex flex-column align-items-center" id="homebody">

        <h3 class="" id="homeh">WELCOME TO THE YELPCAMP</h3>
        <div class="col-md-8 col-lg-6 m-4">
            <p>
                Camping is an outdoor recreational actid-flex justify-content-centervity. The participants leave urban
                areas, their home region, or
                civilization and enjoy nature while spending one or several nights outdoors, usually at a campsite.
                Camping
                may involve the use of a tent, caravan, motorhome, cabin, a primitive structure, or no shelter at all.
            </p>
            <p>Some like to disconnect from technology and reconnect with nature. Some families go camping to revitalize
                their relationships, away from all the distractions at home. Many youth organizations teach young people
                how
                to build a fire, pitch a tent, or read a compass. Camping means different things to different people.
            </p>
        </div>
    </div>

    <script>
        const main = document.querySelector('main')
        main.classList.remove('container')
        main.classList.remove('my-4')

    </script>