<%- layout('layouts/boilerplate') %>

<body class="" id="homebody">
<h3 class="" id="homeh">WELCOME TO THE YELPCAMP</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur suscipit assumenda consequatur ex. Eius consequatur obcaecati omnis consectetur quibusdam temporibus animi? Possimus id voluptates ipsam magni sint ipsa explicabo nesciunt.</p>
</body>

</html>